

/* Slogan and presentation section */

.intro {
	padding-top: 80px;
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(4, 230px);
	justify-content: center;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	background-color: #181a1b;
}

#slogan {
	grid-column: 1/5;
	padding-bottom: 30px;
}

#slogan-text {
	font-family: 'Work Sans', sans-serif;
	font-size: 34px;
	font-weight: 300;
	text-align: center;
	color: #4fffe7;

}

#desc1 {
	grid-column: 1/3;
	font-family: Roboto;
	font-size: 16px;
	color: #9f968a;
	line-height: 28px;
}

#desc2 {
	grid-column: 3/5;
	font-family: Roboto;
	font-size: 16px;
	color: #9f968a;
	line-height: 28px;
}

/* Slogan and presentation section end */



/* Audience section area start */

.audience-container {
	margin-top: 80px;
	display: grid;
	grid-template-rows: 345px 105px;
	background-color: #181a1b;

}

.audience-container img {
	margin: 30px 0 0 30px;
}

.audience-container h1 {
	margin: 5px 0 0 30px;
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
	color: white;
}

.audience-container p {
	margin: 10px 30px 0 30px;
	font-family: 'Work Sans', sans-serif;
	font-size: 24px;
	color: white;
}

#audience {
	display: flex;
	justify-content: center;
	column-gap: 20px;
}

#patients {
	position: relative;
	width: 310px;
	height: 100%;
	border-radius: 10px;
	background-color: #00a38e;
}


#empty-select {
	position: absolute;
	bottom: 35px;
	left: 30px;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 19px;
	font-family: Roboto;
	text-decoration: underline;
	appearance: none;
}



#doctors {
	position: relative;
	width: 310px;
	height: 100%;
	border-radius: 10px;
	background-color: #1a54a0;
}

#clinics {
	position: relative;
	width: 310px;
	height: 100%;
	border-radius: 10px;
	background-color: #161f2a;
}

/* Audience section End */



/* Global sites section */

.global_sites {
	display: flex;
	margin-top: 100px;
	justify-content: center;
}

#sites-culture {
	align-self: center;
	width: 310px;
}

#sites-culture h1 {
	color: #4fffe7;
	font-size: 26.5px;
	font-weight: 300;
	margin: 0;
}

#sites-icons {
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(4, 140px);
	grid-auto-rows: 30px;
	align-self: center;
	grid-gap: 20px;
	filter: grayscale(1);
	height: 96px;
	width: 650px;
}

/* global sites end */



/* Stats container start */

.stats-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 580px;
	width: 100%;
	background-image: linear-gradient(-45deg, rgba(0, 92, 80, 0.45) 5%, rgba(0, 138, 119, 0.45));
}

#stats-header {
	width: 480px; 
	height: 100%;
}

#stats-header h1 {
	margin-top: 50px;
	line-height: 44px;
	font-family: 'Work sans';
	font-size: 34px;
	color: rgb(79, 255, 231);
}

#stats-header p {
	margin-top: 20px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 24px;
	color: rgb(159, 150, 138);
}


#stats-show {
	width: 480px; 
	height: 100% ;
	background-color: blue;
}